@page "/"
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<form>
    <label for="pokenum">Enter a number:</label>
    <input type="text" id="pokenum" name="pokenum"><br><br>
    <input type="submit" value="Submit" onclick="LoadPokemon()">
</form>

<Pokemon></Pokemon>

@code{

   

}